.question-text button {
    width: 100%;
    border: 0px;
    height: 30px;
    background-color: #8AC389;
    font-weight: bold;
}

.no-data-message {
    /* margin: 0px auto; */
    text-align: center;
    font-size: 20px;
    height: 100px;
}

.no-data-message div {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
}

.no-data-message div span {
    margin: 100px auto;
}